<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ViewerList</title>
    <style>
        th {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-size:30px;
            padding:10px
        }
        td {
            padding:10px
        }

        #1 {
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">



</head>
<body>
    {{!-- <button onclick="window.location.href = 'http://localhost:4000/Raghav';" style="text-decoration:none">Raghav</button> --}}
    <h1 align="center" id="1"><i class="users icon"></i> USER LIST</h1>
    <table align="center" border="3"> 
        <tr class="row">
            <th>NAME</th>
            <th> CREDITS</th>
            <th>EmaiL-Id</th>
        </tr>
        {{#each results as |result|}}
        <tr>
            <td align="center">
                <button class="ui active button" onclick="window.location.href = 'http://localhost:4000/User/{{result.name}}';" style="text-decoration:none"><i class="user icon"></i>{{result.name}}</button>
            </td>
            <td align="center">{{result.Account_balance}}</td>
            <td align="center">{{result.Email_id}}</td>
        </tr>
        {{/each}}
    </table>
</body>
</html>